body {
  background-color: skyblue;
}
.App {
  margin-left: 500px;
  /* background-color: skyblue; */
  margin-top: 100px;
}
.heading {
  color: rgba(52, 52, 102, 0.884);
  font-style: oblique;
}
.shown {
  font-weight: bold;
}
